/*
    Start of user config
*/

// Enable debug
#define DEBUG               false


// Cellular settings
#define APN                 ""
#define CELL_USER           ""
#define CELL_PASS           ""
#define GSM_PIN             ""  /* Enter your SIM card PIN if any */

/*
    End of user config
*/

/* ///////////////////////////////////////////////////////////////
    Don't touch this section unless you know what you are doing
*/ ///////////////////////////////////////////////////////////////

// Modem config
#define UART_BAUD           115200

#define MODEM_TX            27
#define MODEM_RX            26
#define MODEM_PWRKEY        4
#define MODEM_DTR           32
#define MODEM_RI            33
#define MODEM_FLIGHT        25
#define MODEM_STATUS        34

// Status LED
#define LED_PIN             12

// Modem model
#define TINY_GSM_MODEM_SIM7600