/*
    Start of user config
*/

// Enable debug
#define DEBUG                   false


// Cellular settings
#define APN                     ""
#define CELL_USER               ""
#define CELL_PASS               ""
#define GSM_PIN                 ""  /* Enter your SIM card PIN if any */

// MQTT config
#define MQTT_ADDRESS            "yourbroker.com"
#define MQTT_PORT               1883
#define MQTT_CLIENT_NAME        "car-assistant"
#define MQTT_USER               ""
#define MQTT_PASS               ""

#define MQTT_BATTERY_PERCENTAGE "battery-percentage"
#define MQTT_BATTERY_VOLTAGE    "battery-voltage"
#define MQTT_MODEM_INFO         "modem-info"
#define MQTT_CCID               "ccid"
#define MQTT_IMSI               "imsi"
#define MQTT_OPERATOR           "operator"
#define MQTT_SIGNAL_QUALITY     "signal-quality"
#define MQTT_PUBLIC_IP          "public-ip"

// Sensors config
#define BME280_ENABLED          true
#define BME280_I2C_ADDRESS      0x76
#define MQTT_BME280_TEMPERATURE "temperature"
#define MQTT_BME280_PRESSURE    "pressure"
#define MQTT_BME280_HUMIDITY    "humidity"

#define TSL2561_ENABLED         true
#define TSL2561_I2C_ADDRESS     0x39
#define MQTT_TSL2561_LUX        "lux"
#define TSL2561_GAIN            "auto" // "auto", "1x" or "16x"

/*
    End of user config
*/

/* ///////////////////////////////////////////////////////////////
    Don't touch this section unless you know what you are doing
*/ ///////////////////////////////////////////////////////////////

// Modem config
#define UART_BAUD               115200

#define MODEM_TX                27
#define MODEM_RX                26
#define MODEM_PWRKEY            4
#define MODEM_DTR               32
#define MODEM_RI                33
#define MODEM_FLIGHT            25
#define MODEM_STATUS            34

// Status LED
#define LED_PIN                 12

// Modem model
#define TINY_GSM_MODEM_SIM7600